<!-- start Header -->
<header>
  <div class="d-flex justify-content-between align-items-center p-2">
    <!-- 1rhythm Logo -->
    <div class="logo ms-3">
      <img src="./../../../../assets/images/1Rhythm logo.svg" alt="1Rhythm logo" />
    </div>
    <!-- End 1rhythm Logo -->

    <!-- desktop -->
    <div class="d-none d-md-block">
      <ul class="nav">
        <li class="nav-item d-flex align-items-center">
          <img src="./../../../../assets/images/home.svg" alt="home-icon" />
          <a href="http://"><span class="nav-link fw-light ms-0 text-primary">Home</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ">
          <img src="./../../../../assets/images/Studio.svg" alt="studio-icon" />
          <a href="http://"><span class="nav-link fw-light ">Studio</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ">
          <img src="./../../../../assets/images/noun-artist-1191144 1.svg" alt="Artist-icon" />
          <a href="http://"><span class="nav-link fw-light ">Artist</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ms-4">
          <img src="./../../../../assets/images/noun-calendar-2095603 4.svg" alt="BookingHistory-icon" />
          <a href="http://"><span class="nav-link fw-light ">Booking History</span></a>
        </li>
      </ul>
    </div>
    <!-- Profile Image -->
    <div class="profile-image overflow-hidden d-none d-md-block me-3">
      <img src="./../../../../assets/images/Profile.png" alt="profile-image" class="w-100 h-auto" />
    </div>
    <!-- desktop -->
    <!-- mobile -->
    <label class="opne me-3 d-md-none" for="menuOpen" (click)="open()">
      <span [ngClass]="isOpen ?'icon-menu':'icon-close'" ></span>
    </label>
  </div>
  <!-- End Header -->
  <!-- mobile -->
  <div class="text-white">
    <input type="checkbox" id="menuOpen" class="d-none" />
    <aside class="sidebar bg-white h-100 w-100">
      <!-- Profile Image -->
      <div class="d-flex align-items-center mt-4">
        <div class="profile-image overflow-hidden ms-3 me-3">
          <img src="./../../../../assets/images/Profile.png" alt="profile-image" class="w-100 h-auto" />
        </div>
        <h4 class="text-dark fs-7">Amresh Prasad</h4>
      </div>
      <!-- Profile Image -->
      <!-- navigation -->
      <ul class="nav d-flex flex-column ms-4 mt-3">
        <li class="nav-item d-flex align-items-center">
          <img src="./../../../../assets/images/home.svg" alt="home-icon" />
          <a href="http://"><span class="nav-link fw-light text-primary ms-1">Home</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ">
          <img src="./../../../../assets/images/Studio.svg" alt="studio-icon" />
          <a href="http://"><span class="nav-link fw-light ">Studio</span></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <img src="./../../../../assets/images/noun-artist-1191144 1.svg" alt="Artist-icon" />
          <a href="http://"><span class="nav-link fw-light ">Artist</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ">
          <img src="./../../../../assets/images/noun-calendar-2095603 4.svg" alt="BookingHistory-icon" />
          <a href="http://"><span class="nav-link fw-light ">Booking History</span></a>
        </li>
      </ul>
      <!-- navigation -->
    </aside>
  </div>
  <!-- mobile -->
</header>