<!-- profile Menu -->
<div class="profile-menu-wrapper bg-white position-absolute rounded ">
   <div class="profile-menu my-2 mx-2 cursor-pointer"> 
    <ul class="nav">
        <li class="nav-item d-flex align-items-center w-100 p-1">
            <span class="icon-search fs-4"></span>
            <div class="d-flex align-items-center">
                <a href="" class="nav-link">Available</a>
            <div class="form-check form-switch ms-5">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </div>
        </li>
        <li class="nav-item d-flex align-items-center w-100 p-1">
            <span class="icon-profile fs-4"></span>
            <a class="nav-link" routerLink="manage-profile">Manage Profile</a>
        </li>
        <li class="nav-item d-flex align-items-center  w-100 p-1">
            <span class="icon-manage-studio fs-4"></span>
            <a href="#" class="nav-link">Manage Studio Profile</a>
        </li>
        <li class="nav-item d-flex align-items-center  w-100 p-1">
            <span class="icon-log-out fs-4"></span>
            <a href="#" class="nav-link">Log out</a>
        </li>
    </ul>
   </div>
</div>
<!--End  profile Menu -->