// font-family
$font-family: 'Poppins', sans-serif;
// size
$width: 100%;
$height: 100%;

// fs
$font-size-fs-7: 14px;
$font-size-fs-8: 12px;
// login Varable 
$login-logo-image-width: 220px;

// registration
$registration-image-width-sm: 300px;
$registration-form-Width: 300px;
$registration-form-height: 500px;
$registration-form-height-sm: 560px;
$registration-form-height-lg: 650px;
$select-profile-image-width: 100px;
$select-profile-image-height: 100px;
$select-profile-image-Border-radius: 50%;

// breck point;
$Small-sm: 576px;
$Medium-md: 768px;
$Large-lg	: 992px;
$Extra-large-xl: 1200px;
$Extra-extra-large-xxl: 1400px;


// input type Variable
$input-btn-padding-y: 5px;
$input-btn-padding-x: 14px;
$input-btn-focus-box-shadow: none;
$input-border-radius: 3px;
$input-placeholder-color: $gray;
$input-btn-font-size: 15px;

// button
$btn-padding-y: 8px;
$btn-padding-x: 35px;
$btn-padding-left-sm: 20px;
$btn-padding-right-sm: 20px;
$btn-border-radius: 3px;
$btn-font-size: 13px;


// text Font-weight
$font-weight-lighter: 400;
$font-weight-light: 500;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1800px
);
// variables used for carousel
$carousel-radius: 16px;
$carousel-img-height: 300px;
$carousel-img-height-sm: 200px;
$carousel-content-width: 60%;
$carousel-text-user-name: 30px;
$carousel-text-user-name-sm: 18px;
$carousel-bag: linear-gradient(to right, $dark 60%, transparent);
$user-name-gradient: -webkit-linear-gradient(right, #2D6DD5, #35B5C8);

// profile image  in header
$profile-image-width: 50px;
$profile-image-height: 50px;
$profile-image-Border-radius: 50px;

// header logo  in header
$header-logo-image-width: 150px;
$header-logo-image-width-lg: 100px;

// main
$main-bg-gradient: linear-gradient(180deg, #F9F7F7 0%, rgba(249, 247, 247, 0) 100%);
$nav-link-color : $dark;
$bg-secondary-gray: rgba(13, 15, 20, 0.1); // card 
$card-wrapper-image-width: 250px;
$card-wrapper-image-height: 200px;