// input type Variable
$input-btn-padding-y:5px;
$input-btn-padding-x:14px;
$input-btn-focus-box-shadow:none;
$input-border-radius:3px;
$input-placeholder-color:$secondary;
// button
$btn-padding-y:8px;
$btn-padding-x:50px;
$btn-border-radius:3px;
$btn-font-size:13px;


// text Font-weight
$font-weight-lighter:400;
$font-weight-light:500;
$font-weight-normal:600;
$font-weight-bold:700;
$font-weight-bolder:800;