// input type Variable
$input-btn-padding-y:5px;
$input-btn-padding-x:14px;
$input-btn-focus-box-shadow:none;
$input-border-radius:3px;
$input-placeholder-color:$gray;
$input-btn-font-size: 15px;

// button
$btn-padding-y:8px;
$btn-padding-x:50px;
$btn-border-radius:3px;
$btn-font-size:13px;


// text Font-weight
$font-weight-lighter:400;
$font-weight-light:500;
$font-weight-bold:700;
$font-weight-bolder:800;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1800px
);
// variables used for carousel
$carousel-radius: 16px;
$carousel-img-height: 300px;
$carousel-content-width: 60%;
$carousel-bag: linear-gradient(to right, $dark 60%, transparent);
$user-name-gradient:-webkit-linear-gradient(right, #2D6DD5, #35B5C8);

// profile image  in header
$profile-image-width:50px;
$profile-image-height:50px;
$profile-image-Border-radius:50px;

// header logo  in header
$header-logo-image-width:150px;
$header-logo-image-width-lg:100px;

