<main class="h-100 d-flex flex-column overflow-auto">
    <!-- Carousel Container -->
    <div class="container">
        <div class="row gx-0">
            <!-- Carousel starts here -->
            <ngb-carousel class="col carousel-wrapper overflow-hidden" [showNavigationArrows]="false" [interval]="6000">
                <!-- Displaying dynamic data using iteration -->
                <ng-template ngbSlide>
                    <!-- Adding background image of caousel -->
                    <div class="picsum-img-wrapper position-relative">
                        <img src="./../../../assets/images/jesman-fabio-1zwJqd5cNys-unsplash 1.svg"
                            class="h-100 w-100" />
                    </div>
                    <!-- Text to display on carousel -->
                    <div class="text-wrapper position-absolute top-0 h-100 pt-3 pt-sm-5 ps-4 text-white">
                        <div class="text-white pb-2 pt-sm-0">
                            <span class="text-uppercase text-secondary-gray fs-8">Most Popular</span>
                        </div>
                        <span class="text-user-name text-uppercase fw-bold">Creative space
                            <span class="text-uppercase user-name"> Studio</span>
                        </span>
                        <div class="w-75 text-description mt-3 text-secondary-gray d-none d-sm-block">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                            dolorem cumque consequatur illum non quidem incidunt quasi.
                        </div>
                        <div class="button my-3 my-md-4 d-flex justify-content-start justify-content-sm-start">
                            <button type="submit" class="btn btn-primary btn-gradient border-0 text-nowrap">
                                View Details
                            </button>
                        </div>
                    </div>
                </ng-template>
                <!-- Displaying dynamic data using iteration -->
                <ng-template ngbSlide>
                    <!-- Adding background image of caousel -->
                    <div class="picsum-img-wrapper position-relative">
                        <img src="./../../../assets/images/jesman-fabio-1zwJqd5cNys-unsplash-2.svg"
                            class="h-100 w-100" />
                    </div>
                    <!-- Text to display on carousel -->
                    <div class="text-wrapper position-absolute top-0 h-100 pt-3 pt-sm-5 ps-4 text-white">
                        <div class="text-white pb-2 pt-sm-0">
                            <span class="text-uppercase text-secondary-gray fs-8">Most Popular</span>
                        </div>
                        <span class="text-user-name text-uppercase fw-bold">Creative space
                            <span class="text-uppercase user-name"> Studio</span>
                        </span>
                        <div class="w-75 text-description mt-3 text-secondary-gray d-none d-sm-block">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                            dolorem cumque consequatur illum non quidem incidunt quasi.
                        </div>
                        <div class="button my-3 my-md-4 d-flex justify-content-start justify-content-sm-start">
                            <button type="submit" class="btn btn-primary btn-gradient border-0 text-nowrap">
                                View Details
                            </button>
                        </div>
                    </div>
                </ng-template>
                <!-- Displaying dynamic data using iteration -->
                <ng-template ngbSlide>
                    <!-- Adding background image of caousel -->
                    <div class="picsum-img-wrapper position-relative">
                        <img src="./../../../assets/images/jesman-fabio-1zwJqd5cNys-unsplash-3.svg"
                            class="h-100 w-100" />
                    </div>
                    <!-- Text to display on carousel -->
                    <div class="text-wrapper position-absolute top-0 h-100 pt-3 pt-sm-5 ps-4 text-white">
                        <div class="text-white pb-2 pt-sm-0">
                            <span class="text-uppercase text-secondary-gray fs-8">Most Popular</span>
                        </div>
                        <span class="text-user-name text-uppercase fw-bold">Creative space
                            <span class="text-uppercase user-name"> Studio</span>
                        </span>
                        <div class="w-75 text-description mt-3 text-secondary-gray d-none d-sm-block">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                            dolorem cumque consequatur illum non quidem incidunt quasi.
                        </div>
                        <div class="button my-3 my-md-4 d-flex justify-content-start justify-content-sm-start">
                            <button type="submit" class="btn btn-primary btn-gradient border-0 text-nowrap">
                                View Details
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
            <!-- End of carousel -->
        </div>
    </div>
    <!-- end  Carousel Container -->
    <!-- studio -->
    <div class="studio-wrapper mt-5">
        <!-- container -->
        <div class="container h-100 d-flex flex-column">
            <!-- header section -->
            <div class="d-flex justify-content-between align-items-center pt-4">
                <h3 class="fw-bold">Explore Studios</h3>
                <a class="text-primary fw-bold cursor-pointer" routerLink="/studio/studio-list">SEE ALL</a>
            </div>
            <!-- card main wrapper -->
            <div class="row ">
                <!-- card 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3" *ngFor="let i of [1,2,3,4,5,6]">
                    <app-card></app-card>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end -->
    <!-- artrist -->
    <div class="artist-wrapper mt-5">
        <!-- container -->
        <div class="container h-100 d-flex flex-column">
            <!-- header section -->
            <div class="d-flex justify-content-between align-items-center pt-4">
                <h3 class="fw-bold">Explore Artist</h3>
                <a  class="text-primary fw-bold cursor-pointer" routerLink="/artist/artist-list">SEE ALL</a>
            </div>
            <!-- card main wrapper -->
            <div class="row  ">
                <!-- card 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 my-3" *ngFor="let i of [1,2,3,4,5,6]">
                    <app-card></app-card>
                </div>
                
            </div>
        </div>
    </div>
    <!--End artrist -->
</main>