section {
    .artist-wrapper {
        @media (max-width: 992px) {
            flex-direction: column;
        }

        .image-section {
            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .artist-big-image-wrapper {
                width: 500px;
                height: 400px;

                @media (max-width: 576px) {
                    width: 280px;
                    height: 240px;
                }

            }

            .artist-small-image-wrapper {
                width: 90px;
                height: 120px;
                margin-right: 10px;

                @media (max-width: 576px) {
                    width: 50px;
                    height: 50px;
                    margin-right: 6px;
                }
            }

        }

    }

    .description-section {
        em{
            @media (max-width: 992px) {
                display: flex;
                justify-content: center;
            }
        }
        .artist-heading {
            @media (max-width: 992px) {
                text-align: center;
                font-size: 20px;
            }
        }
        .artist-description {
            @media (max-width: 576px) {
                font-size: 12px;
            }

            @media (max-width: 992px) {
                text-align: center;
            }
        }
    }

}