header {
    .logo {
        img {
            width: 150px;


            @media (max-width: 992px) {
                width: 100px;
            }

            @media (max-width: 576px) {
                width: 100px;
            }

        }
    }

    .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
}

.sidebar {
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: 100%;
    z-index: 100;
}

#menuOpen:checked+.sidebar {
    left: 0;
}