// Login Form Style
section {
  .bg-image {
    background: url("./../../../assets/images/background.png");
    background-size: cover;

    @media (max-width: $Large-lg) {
      flex-direction: column;
    }

    img {
      @media (max-width: $Small-sm) {
        width: $login-logo-image-width;
      }
    }

  }
}