// Style of carousel
.carousel-wrapper {
    border-radius: $carousel-radius;
    .picsum-img-wrapper {
        height:$carousel-img-height;
        img {
             object-fit: cover;
        }
    }
    .text-wrapper {
      background: $carousel-bag;
      border-radius: $carousel-radius;
      width: $carousel-content-width;
      .user-name {
        background:$user-name-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 2.4px transparent;
        color: $dark;
      }
    }
}
