section {
    &.bg-image {
        background-image: url('./../../../assets/images/background.png');
        background-repeat: no-repeat;

        @media (max-width:$Large-lg) {
            flex-direction: column;
        }

        .Rhythm-image {
            width: $login-logo-image-width;

            @media (min-width:$Small-sm) {
                width: $registration-image-width-sm;

            }
        }

        .registration-form-wrapper {
            overflow-y: scroll;
            width: $registration-form-Width;
            height: $registration-form-height;


            @media (min-width: $Small-sm) {
                width: auto;
                height: $registration-form-height-sm;
            }

            @media (min-width: $Large-lg) {
                width: auto;
                height: $registration-form-height-lg;
            }
        }

        form {
            .profile-image {
                width: $select-profile-image-width;
                height: $select-profile-image-height;
                border-radius: $select-profile-image-Border-radius;
            }

            .pluse-image {
                top: 75px;
                right: 0;
            }
        }
    }

}