.studio-book-form-wrapper{
    .header{
        h3{
            @media (max-width:576px){
                font-size: 16px ;
             }
        } 
    }
    @media (max-width:576px){
       height: 60% !important;
        width: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }   
    @media (min-width:576px){
        width: 60%;
    }
    @media (min-width:768px){
        width: 40%;
    }
    @media (min-width:992px){
        width: 40%;
    }
    @media (min-width:1240px){
        width: 25%;
    }
}